* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: teal;
}

#thecontainer {
    visibility: hidden;
    display: flex;
    justify-content: center;
}

#characterdiv {
    text-align: center;
    background-color: white;
    width: 60vh;
    height: 70vh;
    /* border: 2px seagreen solid; */
    border-radius: 20px;
    box-shadow: rgb(37, 37, 37) 5px 5px 5px;
}

.form {
    text-align: center;
    
}

form {
    margin: 1vh;
}

input {
    width: 50vh;
    text-align: center;
}

select {
    width: 50.65vh;
}

.realdiv {
    display: flex;
    justify-content: center;
}

label {
    color: white;
}

.formdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    margin: 1vh;
}

.name {
    margin-top: 2.5vh;
}

h1 {
    color: white;
    margin-top: 2vh;
}