* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: teal;
}

#thecontainer {
    visibility: hidden;
    display: flex;
    justify-content: center;
}

#characterdiv {
    text-align: center;
    background-color: white;
    width: 60vh;
    /* height: 70vh; */
    /* border: 2px seagreen solid; */
    padding-bottom: 3vh;
    border-radius: 20px;
    box-shadow: rgb(37, 37, 37) 5px 5px 5px;
}

.form {
    text-align: center;
    /* height: 20vh; */
}

#refresh {
    visibility: hidden;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 2vh;
    background-color: darkgoldenrod;
    box-shadow: rgb(37, 37, 37) 2px 2px 2px;
    font-size: 1rem;
    margin-bottom: 1vh;
}

#refresh:hover {
    cursor: pointer;
    box-shadow: none;
}

#btn {
    border-radius: 25px;
    border: none;
    color: white;
    padding: 2vh;
    background-color: darkgoldenrod;
    box-shadow: rgb(37, 37, 37) 2px 2px 2px;
    font-size: 2rem;
    margin: 1vh;
}

#btn:hover {
    cursor: pointer;
    box-shadow: none;
}

form {
    margin: 1vh;
}

input {
    width: 50vh;
    text-align: center;
}

select {
    width: 50.65vh;
}

.realdiv {
    display: flex;
    justify-content: center;
}

label {
    color: white;
}

.formdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name {
    margin-top: 2.5vh;
}

h1 {
    color: white;
    margin-top: 2vh;
}